<div class="notification">
  <h3>{{capitalize (replace id "-" " ")}}</h3>
  <p><strong>Time:</strong> {{formatDateTime timestamp}}</p>
  {{#each variables}}
  <p><strong>{{capitalize this}}:</strong> {{lookup ../this this}}</p>
  {{/each}}
</div>